<article>
    <a href="/dashboard">Back to Dashboard</a>
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <input type="text" name="post-title" value="{{posts.title}}" />
            <br><br>
            <textarea id="post-content" name="post-content"></textarea>
            <p>{{posts.content}}</p>
        </div>
        <div>
            <a href="/post/{{posts.id}}">{{posts.comments.length}}</a>
        </div>
        <button type="submit">Save</button>
        <button type="button" class="delete-post-btn">Delete</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Comment</button>
    </div>
</form>

{{> comments posts.comments}}

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/comment.js"></script>